body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

header {
    background: #333;
    color: white;
    padding: 40px;
    text-align: center;
}

.content {
    padding: 20px;
    max-width: 700px;
    margin: auto;
    background: white;
    margin-top: 20px;
    border-radius: 8px;
}
